html
	head
		meta(charset="UTF-8")
	body
		.contactFon
			.contact.container
					.number
						.telI
						.tel Contacts: +(555) 2346-789
						.imeil Investero@demolink.org
					.soc
						i.F
						i.T
						i.Y
						i.I
		nav
			.wrapNav1Sub.wn1sb.container.posR
				a(href="").logo
					img(src="img/logo.png")
				.wrapNav1.wrapNav1Sub
					.wrapNav1SubBlock.wN1SB1
						a.a1(href="") HOME
					.wrapNav1SubBlock.wN1SB2
						a.a1(href="") PAGES
						#cN1S2.nav1Sub.container a
					.wrapNav1SubBlock.wN1SB3
						a.a1(href="") FEATURES
						#cN1S3.nav1Sub.container b
					.wrapNav1SubBlock.wN1SB4
						a.a1(href="") BLOG
						#cN1S4.nav1Sub.container c
					i.Z
			




script(src="script.js")
link(href='style.css' rel='stylesheet' type='text/css')

