html
	head
		meta(charset="UTF-8")
	body
		.contactFon
			.contact.container
					.number
						.telI
						.tel Contacts: +(555) 2346-789
						.imeil Investero@demolink.org
					.soc
						i.F
						i.T
						i.Y
						i.I
		nav
			.wrapNav1Sub.wn1sb.container.posR
				a(href="").logo
					img(src="img/logo.png")
				.wrapNav1.wrapNav1Sub
					.wrapNav1SubBlock.wN1SB1
						a.a1(href="") HOME
					.wrapNav1SubBlock.wN1SB2
						a.a1(href="") PAGES
						#cN1S2.nav1Sub.container
							.subBlock
								h3 GENERAL
								a(href="") About1
								a(href="") Contacts
								a(href="") Pricing
								a(href="") Clients
								a(href="") Projects
							.subBlock
								h3 GENERAL
								a(href="") About1
								a(href="") Contacts
								a(href="") Pricing
								a(href="") Clients
								a(href="") Projects
							.subBlock
								h3 GENERAL
								a(href="") About1
								a(href="") Contacts
								a(href="") Pricing
								a(href="") Clients
								a(href="") Projects
					.wrapNav1SubBlock.wN1SB3
						a.a1(href="") FEATURES
						#cN1S3.nav1Sub.container
							.subBlock
								h3 GENERAL2
								a(href="") About1
								a(href="") Contacts
								a(href="") Pricing
								a(href="") Clients
								a(href="") Projects
							.subBlock
								h3 GENERAL2
								a(href="") About1
								a(href="") Contacts
								a(href="") Pricing
								a(href="") Clients
								a(href="") Projects
							.subBlock
								h3 GENERAL2
								a(href="") About1
								a(href="") Contacts
								a(href="") Pricing
								a(href="") Clients
								a(href="") Projects
					.wrapNav1SubBlock.wN1SB4
						a.a1(href="") BLOG
						#cN1S4.nav1Sub.container
							.subBlock
								h3 GENERAL3
								a(href="") About1
								a(href="") Contacts
								a(href="") Pricing
								a(href="") Clients
								a(href="") Projects
							.subBlock
								h3 GENERAL3
								a(href="") About1
								a(href="") Contacts
								a(href="") Pricing
								a(href="") Clients
								a(href="") Projects
							.subBlock
								h3 GENERAL3
								a(href="") About1
								a(href="") Contacts
								a(href="") Pricing
								a(href="") Clients
								a(href="") Projects
					i.Z
		aside.b2Fon.posR
			.asideWrap.container
				h3 Your Expert
				h2 Your Accountant
				p Over the last 10 years, we’ve been in this corporate consulting business, we were able to helphundreds of top-flight companies and thousands of individuals to find the right solutions
				a.aButon(href="http://google.com.ua/") OUR COMPANY
		aside.asideWrap.aside2Wrap.container.posR
			h3 Main Investero Direction
			p We offer a wide-range of financial and accounting services to all types of businesses.Learn more about our main directions and select what you need. We also provide the first-time consultation.
		aside.container
			.aside3Wrap
				.aside3Block
					img(src="img/mini.jpg")
					h4 Accounting & Bookkeeping
					p Our services include accounting, bookkeeping, preparation of business and tax returns, planning, and payroll.
				.aside3Block
					img(src="img/mini.jpg")
					h4 Tax, Compliance & Payroll
					p Don't overpay for professional payroll processing services and payroll tax services.
				.aside3Block
					img(src="img/mini.jpg")
					h4 Growth & Funding Access
					p We provide detailed monthly management reports with information to help your business hit performance.
		aside.aside4.container
			.aside4Block1
			.aside4Block2Wrap
				h3 A Few Words
				h4 Our strong conviction is that if a business is to be optimized, it’s to be optimized in a full cycle manner!
				p Our goal is simple; we want to help your business achieve the greatest possible success by providing the valuable services you need at a reasonable cost. We believe all businesses small and large should have access to world-class accounting, bookkeeping, payroll and consulting services. We are dedicated to serving you.
				a.aButon(href="http://google.com.ua/") RESD MORE
		aside.asideWrap.aside2Wrap.container
			h3 What We Do?
		aside.aside6Wrap.container
			.aside6Block
				img(src="img/mini.jpg")
				h3 Accumulation
				p The longer you invest, the more potential your money has to compound interest. We have a strong team of accumulation experts who will help you to invest.
			.aside6Block
				img(src="img/mini.jpg")
				h3 Risk Management
				p We take a comprehensive approach to fully understanding your risk management requirements. We work actively with you, on site, to support your organisation.
			.aside6Block
				img(src="img/mini.jpg")
				h3 Business Consulting
				p We provide business consultations regarding all business issues. We work with small and large enterprises as well as with private entrepreneurs.
			.aside6Block
				img(src="img/mini.jpg")
				h3 Audit & Accounting
				p Audit & accounting services assure your company’s with requirements of applicable laws, financial reporting standards, regulations.
			.aside6Block
				img(src="img/mini.jpg")
				h3 Tax Planning
				p We will help you develop tax strategies to ensure you are paying the right amount of tax, and no more than necessary. We can help you to increase your tax efficiency.
			.aside6Block
				img(src="img/mini.jpg")
				h3 Advisory
				p We help organizations implement their business strategies by consulting with them to build effective organizations, reduce costs, manage risk and regulation.




script(src="script.js")
script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")
link(href='style.css' rel='stylesheet' type='text/css')
//- http://ld-wp.template-help.com/wordpress_65740
