// .container2
// 	display: flex
// 	width: 80%
// 	margin: 0 auto
// 	min-width: 1000px
// 	flex-direction: row
// 	position: relative
// width: 1100px

	// font-family: Montserrat-Medium
//////////////////
	
@font-face 
	font-family: 'FontAwesome'
	src: url('font.ttf')
@font-face 
	font-family: 'Montserrat-Medium'
	src: url('Montserrat-Medium.ttf')
@font-face 
	font-family: 'Montserrat-Light'
	src: url('Montserrat-Light.ttf')
	
*
	padding: 0
	margin: 0
	box-sizing: border-box
.posR
	position: relative
body
	font-family: sans-serif
	padding: 0
	margin: 0
	font-size: 10px

.container
	min-width: 920px
	max-width: 1100px
	margin: 0 auto
.posA
	position: absolute
	left: 0
	min-width: 920px
	max-width: 1100px
	margin: 0 auto

.contactFon
	background: #000
	position: relative
.contact
	display: flex
	// top: 0
	justify-content: space-between
	padding: 12px 0
	color: #ccc
.number *
	display: inline-block
.telI:before
	font: 22px FontAwesome
	content: "\f095"
	padding: 7px
.soc *
	padding: 7px
	font: 18px FontAwesome
.F:before
	content: "\f09a"
.T:before
	content: "\f099"
.Y:before
	content: "\f167"
.I:before
	content: "\f16d"
.telI:hover,.tel:hover,.imeil:hover,.soc i:hover
	color: #fff
	cursor: pointer
	
nav
	position: relative

////////////////////////////////
//NAV 1
//////////////////////////////
nav
	font-size: 1.6em
.wrapNav1Sub
	display: flex
	justify-content: space-between
	flex-wrap: no-wrap		//?
	// position: relative
.wn1sb
	z-index: 3
.logo
	align-self: center
.wrapNav1SubBlock
	display: flex
	// min-width: 13.32%

.a1 
	box-sizing: border-box
	text-decoration: none
	padding: 1em 2em
	color: #222
	text-align: center
	position: relative
	left: 0

	&:hover
		color: blue
	&:hover ~ .nav1Sub
		display: flex

.nav1Sub
	display: none
	background: #fff
	flex-wrap: wrap
	position: absolute
	bottom: 0
	left: 0 
	width: 100%
	transform: translateY(100%)
	justify-content: space-between
	padding: 18px 22px
	&:hover
		display: flex
	.subBlock
		display: flex
		flex-direction: column
		flex-grow: 1
		width: 33,33%
	.subBlock *
		display: flex
		text-decoration: none
		padding: 6px
		color: #333
.Z
	box-sizing: border-box
	padding: 1em 0 1em 2em
	cursor: pointer
	&:hover
		color: blue
.Z:before
	content: "\f002"
	font: 18px FontAwesome

.wN1SB6
	padding: 1em 0
	display: inline-block

////////////////////////// block 2
aside
.b2Fon
	background-image: url("img/header-bg.jpg")
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
.asideWrap
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 20% 8%
	font-family: Montserrat-Light
	color: #fff
	h3
		font-size: 2em
		letter-spacing: 6px
	h2
		font-size: 6em
	p
		font-size: 1.6em
		color: #ddd
.asideWrap *
	text-align: center
	margin: 18px
.aButon   //Стили копки
	font-family: Montserrat-Medium
	font-size: 2em
	text-decoration: none
	padding: 11px 44px
	border-radius: 8px
	background: #00ca8e
	color: #fff
.aButon:hover
	background: #818a91
///////////////////// aside 2
.aside2Wrap
	padding: 8% 9% 2% 9%
	h3
		font-size: 2.9em
		color: #000
	p
		line-height: 1.9
		color: #333
/////////////////////// aside 3
.aside3Wrap
	display: flex
	justify-content: space-between
	margin: -1.6em
.aside3Block
	display: flex
	flex-direction: column
	flex-basis: 222px
	flex-grow: 1
	justify-content: center
	align-items: center
	box-sizing: content-box
	border: 1px solid #ddd
	margin: 1.6em
	padding: 1.5em
	img 
		display: block
		height: 55px
		width: 55px
		margin: 10px 10px 22px 10px
	h4
		font-family: Montserrat-Medium
		font-size: 1.7em
		padding: 0
		margin: 0
		color: #333
	p
		font-size: 1.4em
		line-height: 2.2
		color: #666
.aside3Block *
	margin: 1em
	text-align: center
///////////////////// aside 4
.aside4
	font-family: Montserrat-Light
	display: flex
	margin: 4em 0 0 0
.aside4Block1
	width: 50%
	height: auto
	background-image:  url(img/aside4Block1.jpg)
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
.aside4Block2Wrap *
	margin: 0 0 1.3em 0
.aside4Block2Wrap
	padding: 3em 15em 3em 3em
	width: 50%
	background: #fafafa
	h3
		font-size: 2.8em
		// line-height: 0
		// margin-bottom: 1em
	h4 
		font-size: 1.5em
		line-height: 1.9
	p
		font-size: 1.4em
		line-height: 2.2
		padding-bottom: 2em
	a 
		font-size: 1.6em
//////////////////////////  aside5
//////////////////////////  aside6
.aside6Wrap
	display: flex
	flex-wrap: wrap
	flex-basis: 200px
	font-family: Montserrat-Light
.aside6Block
	padding: 2.1em
	width: 33%
	img
		height: 5%
		margin: 0 0 2em 0
	h3
		font-size: 2em
		line-height: 2.4
	p
		font-size: 1.4em
		line-height: 2.2
		padding-bottom: 2em


