html
	head
		meta(charset="UTF-8")
	body
		header
			.conteiner.header
				a(href='#').logo
					img.img(src="img/Logo.svg", alt="")
				.search
					img.img(src="img/loupe.svg", alt="")
					input.input(type="text", placeholder=" Поиск" value="")
				.icon
					img.header__icon_img(src="img/notify.svg", alt="")
					img.header__icon_img(src="img/audio.svg", alt="")
				.name
					.wrap
						.first Микола
						img.img(src="img/logoMini.jpg", alt="")
						img.arrow(src="img/arrow.svg", alt="")
		section.conteiner
			nav.nav
				a.a1(href="")
					.icon Моя Страница
				a.a2(href="")
					.icon Новости
				a.a3(href="")
					.icon Сообщения
				a.a4(href="")
					.icon Друзья
				a.a5(href="")
					.icon Группы
				a.a6(href="")
					.icon Фотографии
				a.a7(href="")
					.icon Музыка
				a.a8(href="")
					.icon Видео
				a.a9(href="")
					.icon Игры
				hr
				a.a10(href="")
					.icon Товары
				a.a11(href="")
					.icon Закладки
				a.a12(href="")
					.icon Документы
				a.a13(href="")
					.icon Управление
			aside.aside
				.block
					img(src="img/foto.jpg", alt="")
					input(type='button', value="Редактировать") 
				.block
					.caption
						.i Подарки&nbsp
						.i.gray 1
					img.surprise(src="img/96.png", alt="")
				.block
					.caption
						.txt Друзья&nbsp
						.txt.gray 56
						.txt.end.gray обновления1
					.wrapFriendsMini
						.blockFriendsMini
							img.imgMini(src="img/logoMini.jpg", alt="")
							p Валентин
						.blockFriendsMini
							img.imgMini(src="img/logoMini.jpg", alt="")
							p Валентин
						.blockFriendsMini
							img.imgMini(src="img/logoMini.jpg", alt="")
							p Валентин
						.blockFriendsMini
							img.imgMini(src="img/logoMini.jpg", alt="")
							p Валентин
						.blockFriendsMini
							img.imgMini(src="img/logoMini.jpg", alt="")
							p Валентин
						.blockFriendsMini
							img.imgMini(src="img/logoMini.jpg", alt="")
							p Валентин
				.block.interesting
					.caption
						.txt Интересные страницы&nbsp
						.txt.gray 2
					.wrapInteresting
						.blockInteresting
							img.imgMini(src="img/logoMini.jpg", alt="")
							.wrapInterestingTxt
								p Команда ВКонтакте
								p.gray Веб-сайт
						.blockInteresting
							img.imgMini(src="img/logoMini.jpg", alt="")
							.wrapInterestingTxt
								p Команда ВКонтакте
								p.gray Веб-сайт
				.block.Gallery
					.caption
						.txt Фотоальбомы&nbsp
						.txt.gray 2
					.GalleryPhoto
						img(src="img/foto.jpg", alt="")
						p Albom 1



		footer












script(src="script.js")
script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")
link(href='var.css' rel='stylesheet' type='text/css')
link(href='style.css' rel='stylesheet' type='text/css')