html
	head
		meta(charset="UTF-8")
	body
		header 
			.conteiner.header
				a(href='#').header__logo
					img.header__logo_img(src="img/Logo.svg", alt="")
				.header__search
					img.header__search_img(src="img/loupe.svg", alt="")
					input.header__search_input(type="text", placeholder=" Поиск" value="")
				.header__icon
					img.header__icon_img(src="img/notify.svg", alt="")
					img.header__icon_img(src="img/audio.svg", alt="")
				.header__name
					.header__name_first Микола
					img.header__name_img(src="img/logoMini.jpg", alt="")




		nav
		section
		footer












script(src="script.js")
script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")
link(href='var.css' rel='stylesheet' type='text/css')
link(href='style.css' rel='stylesheet' type='text/css')
//- http://ld-wp.template-help.com/wordpress_65740