html
	head
		meta(charset="UTF-8")
	body
		header 
			.conteiner.header
				a(href='#').header__logo
					img.header__logo_img(src="img/Logo.svg", alt="")
				.header__search
					img.header__search_img(src="img/loupe.svg", alt="")
					input.header__search_input(type="text", placeholder=" Поиск" value="")
				.header__icon
					img.header__icon_img(src="img/notify.svg", alt="")
					img.header__icon_img(src="img/audio.svg", alt="")
				.header__name
					.header__name__wrap
						.header__name__wrap_first Микола
						img.header__name__wrap_img(src="img/logoMini.jpg", alt="")
						img.header__name__wrap_arrow(src="img/arrow.svg", alt="")
		section.conteiner
			nav.nav
				a.a1(href="")
					.nav__icon Моя Страница
				a.a2(href="")
					.nav__icon Новости
				a.a3(href="")
					.nav__icon Сообщения
				a.a4(href="")
					.nav__icon Друзья
				a.a5(href="")
					.nav__icon Группы
				a.a6(href="")
					.nav__icon Фотографии
				a.a7(href="")
					.nav__icon Музыка
				a.a8(href="")
					.nav__icon Видео
				a.a9(href="")
					.nav__icon Игры
				hr
				a.a10(href="")
					.nav__icon Товары
				a.a11(href="")
					.nav__icon Закладки
				a.a12(href="")
					.nav__icon Документы
				a.a13(href="")
					.nav__icon Управление
			aside.aside
				.block
					img.header__name__wrap_img(src="img/foto.jpg", alt="")
					input(type='button', value="Редактировать") 
				.block
					.block__caption
						.i Подарки&nbsp
						.i.gray 1
					img.surprise(src="img/96.png", alt="")
				.block 
					.block__caption
						.i Друзья&nbsp
						.i.gray 56
						.i.end.gray обновления
					img.imgFriendsMini(src="img/logoMini.jpg", alt="")
				.block




		footer












script(src="script.js")
script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")
link(href='var.css' rel='stylesheet' type='text/css')
link(href='style.css' rel='stylesheet' type='text/css')
//- http://ld-wp.template-help.com/wordpress_65740