html
	head
	body
		header.container 
		nav
			.wrapNav1Sub.wn1sb.container
				.wrapNav1SubBlock.wN1SB1
					a.a1(href="") CMS ШАБЛОНИ
					#cN1S1.nav1Sub.container
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони1
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.									
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.							
				.wrapNav1SubBlock.wN1SB2
					a.a1(href="") ШАБЛОНИ САЙТІВ
					#cN1S2.nav1Sub.container
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони2
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.									
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.							
				.wrapNav1SubBlock.wN1SB3
					a.a1(href="") ІНТЕРНЕТ-МАГАЗИНИ
					#cN1S3.nav1Sub.container
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони3
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.									
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.wrapNav1SubBlock.wN1SB4
					a.a1(href="") КАТЕГОРІЇ
					#cN1S4.nav1Sub.container
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони4
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.									
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.wrapNav1SubBlock.wN1SB5
					a.a1(href="") ПЛАГІНИ
					#cN1S5.nav1Sub.container
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони5
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.									
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.wrapNav1SubBlock.wN1SB6
					a.a1(href="") ПОСЛУГИ
			.wrapNav1Sub.container
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="1.png")
						p WordPress<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="1.png")
						p WordPress<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="1.png")
						p WordPress<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="1.png")
						p WordPress<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="1.png")
						p WordPress<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="1.png")
						p WordPress<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="1.png")
						p WordPress<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
		section.wrapSec1Head.container
			label(for="i1") 
				img(src="1.png") 
				div HTML
			input(type="radio" name="tabs" id="i1"  checked='checked')
			.sec1Sub
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони1
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.									
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.
			label(for="i2") 
				img(src="1.png") 
				div HTML
			input(type="radio" name="tabs" id="i2")
			.sec1Sub
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони2
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.
			label(for="i3") 
				img(src="1.png") 
				div HTML
			input(type="radio" name="tabs" id="i3")
			.sec1Sub
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони3333
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.					
			

		aside
		footer 





script(src="script.js")
link(href='style.css' rel='stylesheet' type='text/css')

