html
	head
	body
		header.header.container
			a.logo(href="#", title="title")
				img(src="img/logo.svg", alt="logo")
			.user-menu
				a(href="#", title="title").leng
					i.flagUA
					| UA
					i.arrow.icon
				a(href="#", title="title").help.icon Help
				a(href="#", title="title").like.icon
				a(href="#", title="title").bell.icon
				a(href="#", title="title").ak.icon Аккаунт
				a(href="#", title="title").kart.icon Кошик

				//////////////////
				//NAV 1
				//////////////////

		nav
			.wrapNav1Sub.wn1sb.container
				.wrapNav1SubBlock.wN1SB1
					a.a1(href="") CMS ШАБЛОНИ
						i.arrow
					#cN1S1.nav1Sub.container
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони1
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.									
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.							
				.wrapNav1SubBlock.wN1SB2
					a.a1(href="") ШАБЛОНИ САЙТІВ
						i.arrow
					#cN1S2.nav1Sub.container
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони2
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.									
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.							
				.wrapNav1SubBlock.wN1SB3
					a.a1(href="") ІНТЕРНЕТ-МАГАЗИНИ
						i.arrow
					#cN1S3.nav1Sub.container
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони3
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.									
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.wrapNav1SubBlock.wN1SB4
					a.a1(href="") КАТЕГОРІЇ
						i.arrow
					#cN1S4.nav1Sub.container
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони4
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.									
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.wrapNav1SubBlock.wN1SB5
					a.a1(href="") ПЛАГІНИ
						i.arrow
					#cN1S5.nav1Sub.container
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони5
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.									
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
						.Nav1SubEl
							img(src="1.png")
							h4 WordPress шаблони
							p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.wrapNav1SubBlock.wN1SB6
					a.a1(href="") ПОСЛУГИ

					////////////////////////////////
					//NAV 2
					//////////////////////////////


			.wrapNav1Sub.container
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="img/wp.svg")
						p WordPress<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="img/wp.svg")
						p HTML<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="img/wp.svg")
						p Loomla<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="img/wp.svg")
						p PrestaShop<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="img/wp.svg")
						p Magento<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="img/wp.svg")
						p MotoCMS<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка
				.wrapNav1SubBlock.wn2sb
					a.a2(href="") 
						img(src="img/wp.svg")
						p WordPress<br>шаблони
					.nav2Sub
						a(href="") Популярні
						a(href="") Рекомендовані
						a(href="") Електроніка

						//////////////////////////
						//SECT 1
						//////////////////////////

		section.section1.container.block
			h1 26 640 преміум шаблонів для створення<br> сайтів –<br> це ідеальний вибір для вашого бізнесу
			.txtMini За 15 років ми допомогли понад 2 мільйонам підприємців створити зручні та красиві сайти на базі наших шаблонів.
			.wrapInput
				input.inputMain.inputTxt(type="text" placeholder="Введіть ключове слово")
				input.inputMain.inputBtn(type="button", value="Знайти шаблон вашої мрії")
			.wrapCategories
				.itemCategories.img1 Бізнес та послуги
				.itemCategories.img2 Дизайн та фотографія
				.itemCategories.img3 Мода та краса
				.itemCategories.img4 Спорт, туризм та подорожі
				.itemCategories.img5 Нерухомість




					//- ////////////////////////
					//- SECT 2 MENU 3
					//- ////////////////////////
		
		section.wrapSec1Head.container
			input(type="radio" name="tabs" id="i1"  checked='checked')
			.sec1Sub
				.wrapEl
					.Nav2SubEl
						//- .wrapImg
						.img400
						.wrapData
							img(src="img/1.png")
							.wrapTxt
								h4 Tobacco
								p Адаптивний motocms інтернет-магазин шаблон
							.like 0
				.wrapEl
					.Nav2SubEl
						img(src="img/img1.webp")
						.wrapData
							//- img(src="img/1.png")
							.wrapTxt
								h4 Tobacco
								p Адаптивний motocms інтернет-магазин шаблон
							.like 0
				.wrapEl
					.Nav2SubEl
						//- img(src="img/spritesheet.png" width="400" height="400")
						.img400
						.wrapData
							img(src="img/1.png")
							.wrapTxt
								h4 Tobacco
								p Адаптивний motocms інтернет-магазин шаблон
							.like 0
				.wrapEl
					.Nav2SubEl
						//- img(src="img/spritesheet.png" width="400" height="400")
						.img400
						.wrapData
							img(src="img/1.png")
							.wrapTxt
								h4 Tobacco
								p Адаптивний motocms інтернет-магазин шаблон
							.like 0

			label#ii1(for="i1")
				img(src="1.png")
				div Популярні




			input(type="radio" name="tabs" id="i2")
			.sec1Sub
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони2
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.
			label#ii2(for="i2") 
				img(src="1.png") 
				div Нові
			input(type="radio" name="tabs" id="i3")
			.sec1Sub
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони3333
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.	
				.Nav1SubEl
					img(src="1.png")
					h4 WordPress шаблони
					p Три причини використовувати WordPress: простота, надійність, швидкість.
			label#ii3(for="i3")
				img(src="1.png") 
				div Багатофункціональні
			

		aside
		footer 





script(src="script.js")
link(href='style.css' rel='stylesheet' type='text/css')

