:root {
	--colorAkcent: #9bd2eb;
	--colorFonAkcentDark: #224b7a;
	--colorFonAkcentLite: #dfe6ed;
	--colorBackground: #edeef0;
	--colorGray: #828282;
	--colorGrayLite: #939393;
	--colorFonHover: #f5f7fa;
	--colorBgHead: #4a76a8;
	--fontSize: 13px;
	--fontSizeBig: 19px;
	--conteinerWidth: 960px;
	--blockWidthLite: 15%;
	--blockWidth: 22%;
	--margin: 8px;
	--marginBig: 15px;
	--padding: 8px;
	--paddingBig: 15px;

}
